.container{
	font-family: Arial;
	background: rgba(green,0.5);
	color: white;
	border: 3px solid transparent;
	height: 100px;
	width: 300px;
	position:relative;

	div{
		text-align: center;
		position: absolute;
		background: rgba(red,0.8);
	}
	.left{
		right: 0;
		height: 100%;
		width: 80%;
	}

	.right{
		left: 0;
		height: 100%;
		width: 80%;
	}

	.top{
		bottom: 0;
		height: 80%;
		width: 100%;
	}

	.bottom{
		top: 0;
		height: 80%;
		width: 100%;
	}

	.off{
		opacity: 0.4;
	}
}

.container-omni{
	font-family: Arial;
	background: rgba(green,0.5);
	color: white;
	border: 3px solid transparent;
	height: 400px;
	width: 400px;
	position:relative;

	div{
		text-align: center;
		position: absolute;
		background: rgba(red,0.8);
	}
	#omni{
		right: 24%;
		top: 24%;
		height: 50%;
		width: 50%;
	}
}